$light-gold: #f3ff3e;
$gold: #e8ed25;
$dark-gold: #ded50c;
$blue: #367bf4;
$light-blue: #539aff;
$dark-gray: #333;
$text: rgba(0, 0, 0, 0.8);
$text-light: rgba(255, 255, 255, 0.8);
$off-white: #fafafa;
$light-gray: #f0f0f0;
$gray: #888888;